@import '../../users/user-list/user-list.component.scss';

.task-table {
  width: 100%;

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;

    &:hover {
      color: var(--mat-sys-primary);
    }
  }
}
