<mat-card>
  <h3>Project Settings</h3>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Project Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput rows="4" formControlName="description"></textarea>
    </mat-form-field>
    @if (canManage) {
      <button mat-flat-button color="primary" type="submit" [disabled]="loading">Save Settings</button>
    }
  </form>
</mat-card>
